<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:clean_data) %>
<% end %>

<p class="warning"><strong><%= t :clean_data_warning %></strong></p>

<p>
  <a href="#select_all">Select All</a> |
  <a href="#select_none">Select None</a> |
  <a href="#invert_selection">Invert Selection</a>
</p>

<br />

<%= form_tag admin_destroy_data_path, :method => :delete do %>
  <p data-hook="resources-list" class="resources-list">
    <%= check_box_tag 'resources[address]', '1', true %>
    <%= label_tag 'resources[address]', t(:addresses) %>
    <br />
    <%= check_box_tag 'resources[adjustment]', '1', true %>
    <%= label_tag 'resources[adjustment]', t(:adjustments) %>
    <br />
    <%= check_box_tag 'resources[asset]', '1', true %>
    <%= label_tag 'resources[asset]', t(:assets) %>
    <br />
    <%= check_box_tag 'resources[calculator]', '1', true %>
    <%= label_tag 'resources[calculator]', t(:calculators) %>
    <br />
    <%= check_box_tag 'resources[country]', '1', false %>
    <%= label_tag 'resources[country]', t(:countries) %>
    <br />
    <%= check_box_tag 'resources[line_item]', '1', true %>
    <%= label_tag 'resources[line_item]', t(:line_items) %>
    <br />
    <%= check_box_tag 'resources[option_type]', '1', true %>
    <%= label_tag 'resources[option_type]', t(:option_types) %>
    <br />
    <%= check_box_tag 'resources[option_value]', '1', true %>
    <%= label_tag 'resources[option_value]', t(:option_values) %>
    <br />
    <%= check_box_tag 'resources[order]', '1', true %>
    <%= label_tag 'resources[order]', t(:orders) %>
    <br />
    <%= check_box_tag 'resources[payment_method]', '1', true %>
    <%= label_tag 'resources[payment_method]', t(:payment_methods) %>
    <br />
    <%= check_box_tag 'resources[product_option_type]', '1', true %>
    <%= label_tag 'resources[product_option_type]', t(:product_option_types) %>
    <br />
    <%= check_box_tag 'resources[product_property]', '1', true %>
    <%= label_tag 'resources[product_property]', t(:product_properties) %>
    <br />
    <%= check_box_tag 'resources[product]', '1', true %>
    <%= label_tag 'resources[product]', t(:products) %>
    <br />
    <%= check_box_tag 'resources[property]', '1', true %>
    <%= label_tag 'resources[property]', t(:properties) %>
    <br />
    <%= check_box_tag 'resources[prototype]', '1', true %>
    <%= label_tag 'resources[prototype]', t(:prototypes) %>
    <br />
    <%= check_box_tag 'resources[shipment]', '1', true %>
    <%= label_tag 'resources[shipment]', t(:shipments) %>
    <br />
    <%= check_box_tag 'resources[shipping_category]', '1', true %>
    <%= label_tag 'resources[shipping_category]', t(:shipping_categories) %>
    <br />
    <%= check_box_tag 'resources[shipping_method]', '1', true %>
    <%= label_tag 'resources[shipping_method]', t(:shipping_methods) %>
    <br />
    <%= check_box_tag 'resources[state]', '1', false %>
    <%= label_tag 'resources[state]', t(:states) %>
    <br />
    <%= check_box_tag 'resources[tax_category]', '1', true %>
    <%= label_tag 'resources[tax_category]', t(:tax_categories) %>
    <br />
    <%= check_box_tag 'resources[tax_rate]', '1', true %>
    <%= label_tag 'resources[tax_rate]', t(:tax_rates) %>
    <br />
    <%= check_box_tag 'resources[taxonomy]', '1', true %>
    <%= label_tag 'resources[taxonomy]', t(:taxonomies) %>
    <br />
    <%= check_box_tag 'resources[taxon]', '1', true %>
    <%= label_tag 'resources[taxon]', t(:taxons) %>
    <br />
    <%= check_box_tag 'resources[user]', '1', true %>
    <%= label_tag 'resources[user]', t(:users) %>
    <br />
    <%= check_box_tag 'resources[variant]', '1', true %>
    <%= label_tag 'resources[variant]', t(:variants) %>
    <br />
    <%= check_box_tag 'resources[zone_member]', '1', false %>
    <%= label_tag 'resources[zone_member]', t(:zone_members) %>
    <br />
    <%= check_box_tag 'resources[zone]', '1', false %>
    <%= label_tag 'resources[zone]', t(:zones) %>
  </p>

  <p class="form-buttons" data-hook="buttons">
    <%= submit_tag t(:destroy_data), :confirm => "#{t(:confirm_delete_data)}" %>
    <%= t(:or) %> <%= link_to t(:cancel), edit_admin_general_settings_path %>
  </p>
<% end %>
