<%= form_tag spree.admin_cleanup_path, :method => :post do %>
  <div id="spree_clean">
    <ul>
      <li>
      <%= check_box_tag 'all_data', 'yes', false, :class => "parentCheckBox" %> All data
      <ul>
        <li>
        <%= check_box_tag 'orders', 'yes', false, %> Orders
        </li>
        <li>
        <%= check_box_tag 'products', 'yes', false, :class => "parentCheckBox" %>  Products
        <ul>
          <li>
          <%= check_box_tag 'option_types', 'yes', false, %>   Option Types
          </li>
          <li>
          <%= check_box_tag 'properties', 'yes', false, %> Properties
          </li>
        </ul>
        </li>
        <li>
        <%= check_box_tag 'taxonomies', 'yes', false, %> Taxonomies
        </li>
        <li>
        <%= check_box_tag 'users', 'yes', false, %> Users
        </li>
        <li>
        <%= check_box_tag 'all_configurations_data',  'yes', false, :class => "parentCheckBox" %> All configurations data
        <ul>
          <li>
          <%= check_box_tag 'payment_methods', 'yes', false, %> Payment methods
          </li>
          <li>
          <%= check_box_tag 'shipping_methods', 'yes', false, %> Shipping Methods
          </li>
          <li>
          <%= check_box_tag 'countries', 'yes', false, %> Countries
          </li>
          <li>
          <%= check_box_tag 'states', 'yes', false, %> States
          </li>
          <li>
          <%= check_box_tag 'zones', 'yes', false, %> Zones
          </li>
        </ul>
        </li>
      </ul>
      </li>
    </ul>
    <input name='clean_button' id='clean_button' type='submit' value='clean data'> 
  </div>
<% end %>
